{% extends "base.html" %}

{% block html %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<br/><br/>

<form action="{% url 'admin_approval' %}" method="post">
    {% csrf_token %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col"><a href="?sort=username">Username</a></th>
                <th scope="col"><a href="?sort=message">Message</a></th>
                <th scope="col"><a href="?sort=time">Time</a></th>
                <th scope="col"><a href="?sort=approved">Approve</a></th>
                <th scope="col"><a href="?sort=rejected">Reject</a></th>
            </tr>
        </thead>
        <tbody>
            {% for message in text_message_list %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ message.username }}</td>
                    <td>
                        <div class="message-content">
                            {% for item in message.processed_content %}
                                {% if item.type == 'youtube' %}
                                    <iframe width="400" height="300" src="{{ item.url }}" allowfullscreen></iframe>
                                {% elif item.type == 'url' %}
                                    <iframe width="400" height="300" src="{{ item.url }}" allowfullscreen></iframe>
                                {% else %}
                                    {{ item.text }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{ message.time }}</td>
                    <td>
                        <input type="hidden" name="message_ids" value="{{ message.id }}">
                        <input type="checkbox" name="approved_{{ message.id }}" onclick="ensure_mutex({{ message.id }})" value="true" {% if message.approved %} checked {% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" name="rejected_{{ message.id }}" onclick="ensure_mutex({{ message.id }})" value="true" {% if message.rejected %} checked {% endif %}>
                        <input type="text" name="rejection_reason_{{ message.id }}" value="{{ message.rejection_reason }}">
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="6">No messages available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function ensure_mutex(id) {
            approved = document.getElementsByName("approved_" + id)[0].checked;
            rejected = document.getElementsByName("rejected_" + id)[0].checked;
            document.getElementsByName("rejected_" + id)[0].disabled = approved;
            document.getElementsByName("rejection_reason_" + id)[0].disabled = approved;
            document.getElementsByName("approved_" + id)[0].disabled = rejected;
        }
        {% for message in text_message_list %}
        ensure_mutex({{ message.id }});
        {% endfor %}
    </script>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Update Approvals</button>
    </div>
</form>

{% endblock %}
