{% extends "base.html" %}
{% block html %}

{% load static %}
<link rel="stylesheet" href="{% static 'oauthtesting/login_style.css' %}">

{% load socialaccount %}
{% providers_media_js %}

<html>
    <head>
        <title>Log in</title>
    </head>

      <div class="login-div">
          <h1 class = "login-title">Welcome to Capture App!</h1>
          {# EXAMPLE PROMO IMAGE #}
          <img class = "promo-img" src="/static/images/promo.png"></img>
          <button class = "btn btn-light btn-outline-primary login-button" onclick="window.location.href='{% provider_login_url 'google' %}'"> Login With Google</button>

          <h3 class="info-h3">Explore your Surroundings</h3>
          <p class="info-p">Capture picks major landmarks in your locality and encourages you to get moving in a capture-the-flag-style game.</p>

          <h3 class="info-h3">Earn Points and Win</h3>
          <p class="info-p">Build your Capture Score by claiming and defending local landmarks.</p>

          <h3 class="info-h3">Compete with your Friends</h3>
          <p class="info-p">Look up your friends and beat them on the leaderboard!</p>

          <h3 class="info-h3">Leave your Mark</h3>
          <p class="info-p">Spend your points to leave text messages for others to discover or buy cool cosmetic items!</p>

      </div>

    </body>
</html>

{% endblock %}