{% extends "base.html" %}
{% block html %}

{% load static %}
<link rel="stylesheet" href="{% static 'oauthtesting/lookup_style.css' %}">

{% load socialaccount %}
{% providers_media_js %}

<div class="account-table-div">
    {% if account %}
        <table class="account-table">
            <tbody>
                {% if account %}
                {% if account.picture %}
                <tr class = "account-info-th-text">
                    <th scope="row">PROFILE PICTURE</th>
                </tr>
                <tr class = "account-info-text">
                    <td>
                        <img src="{{ account.picture}}" alt="profile picture" class="profile-picture">
                    </td>
                </tr>
                {% endif %}
                {% endif %}
                <tr class = "account-info-th-text">
                    <th scope="row">USERNAME</th>
                </tr>
                <tr class = "account-info-text">
                    <td>{{ account.username }}</td>
                </tr>
                {% if user.email %}
                <tr class = "account-info-th-text">
                    <th scope="row">EMAIL</th>
                </tr>
                <tr class = "account-info-text">
                    <td>{{ account.email }}</td>
                </tr>
                {% endif %}
                <tr class = "account-info-th-text">
                    <th scope="row">BIO</th>
                </tr>
                <tr class = "account-info-text">
                    <td>{{ account.bio }}</td>
                </tr>
                <tr class = "account-info-th-text">
                    <th scope="row">POINTS</th>
                </tr>
                <tr class = "account-info-text">
                    <td>{{ account.points }}</td>
                </tr>
            </tbody>
        </table>
        {% if account %}
            {% if account.picture %}
                <img src="{{ account.picture.url}}" alt="profile picture">
            {% endif %}
            {% endif %}

            {% if latest_message %}
                <table class="account-table">
                    <tbody>
                        <tr class="account-info-th-text">
                            <th scope="row">LATEST MESSAGE</th>
                        </tr>
                        <tr class="account-info-text">
                            <td>
                                <div class="message-content">
                                    {% for item in latest_message_content %}
                                        {% if item.type == 'youtube' %}
                                            <iframe width="400" height="300" src="{{ item.url }}" allowfullscreen></iframe><br>
                                        {% elif item.type == 'url' %}
                                            <a href="{{ item.url }}" target="_blank">{{ item.url }}</a>
                                        {% else %}
                                            {{ item.text }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                        <tr class="account-info-th-text">
                            <th scope="row">TIME</th>
                        </tr>
                        <tr class="account-info-text">
                            <td>{{ latest_message.time }}</td>
                        </tr>
                        <tr class="account-info-th-text">
                            <th scope="row">LOCATION</th>
                        </tr>
                        <tr class="account-info-text">
                            <td>({{ latest_message.longitude }}, {{ latest_message.latitude }})</td>
                        </tr>
                        <tr class="account-info-th-text">
                            <th scope="row">APPROVED</th>
                        </tr>
                        <tr class="account-info-text">
                            <td>{{ latest_message.approved }}</td>
                        </tr>
                    </tbody>
            </table>
        {% else %}
            <p>No messages found for this user.</p>
        {% endif %}
    {% else %}
    <h3 class="error-message">Oops! We didn't find any account with that name.</h3>
    <img class="error-img" src="/static/images/mappy_error.png"></img>
    {% endif %}
</div>

{% endblock %}