{% extends "base.html" %}
{% block html %}

{% load static %}
<link rel="stylesheet" href="{% static 'oauthtesting/lookup_style.css' %}">

{% load socialaccount %}
{% providers_media_js %}

<div class="m-3">
    {% if account %}
        <table class="account-table">
            <tbody>
                <tr class = "account-info-th-text">
                    <th scope="row">USERNAME</th>
                </tr>
                <tr class = "account-info-text">
                    <td>{{ account.username }}</td>
                </tr>
                <tr class = "account-info-th-text">
                    <th scope="row">BIO</th>
                </tr>
                <tr class = "account-info-text">
                    <td>{{ account.bio }}</td>
                </tr>
                <tr class = "account-info-th-text">
                    <th scope="row">POINTS</th>
                </tr>
                <tr class = "account-info-text">
                    <td>{{ account.points }}</td>
                </tr>
            </tbody>
        </table>
        {% if account %}
            {% if account.picture %}
                <img src="{{ account.picture.url}}" alt="profile picture">
            {% endif %}
            {% if latest_message %}
    <div class="message-info">
        <h3>Latest Message</h3>
        <p><strong>Message:</strong> {{ latest_message.message }}</p>
        <p><strong>Time:</strong> {{ latest_message.time }}</p>
        <p><strong>Location:</strong> ({{ latest_message.longitude }}, {{ latest_message.latitude }})</p>
        <p><strong>Approved:</strong> {{ latest_message.approved }}</p>
    </div>
{% else %}
    <p>No messages found for this user.</p>
{% endif %}
        {% endif %}
    {% else %}
    <h3>No account found</h3>


    {% endif %}
</div>

{% endblock %}