{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}
<link rel="stylesheet" href="{% static 'oauthtesting/map_style.css' %}">

<html>
    <head>
        <title>Map</title>
    </head>
    <body> 
        <nav class = "navbar navbar-expand-lg bg-dark">
            <ul class="navbar-nav">
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link navbar-text" href="{% url 'admin:index' %}">Admin</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link navbar-text" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link navbar-text" href="{% url 'map' %}">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-text" href="{% url 'login' %}">Account</a>
                </li>
            </ul>
        </nav>

        <div id="UVA_MAP" class="map"></div>

        <script>
            function initMap() {
                var map = new google.maps.Map(document.getElementById('UVA_MAP'), {
                    center: {lat: 38.03358840942383, lng: -78.50801849365234},
                    zoom: 16
                });
        
                var pois = {{ pois|safe }};

                pois.forEach(function(poi) {
                    var marker = new google.maps.Marker({
                        position: { lat: parseFloat(poi.latitude), lng: parseFloat(poi.longitude) },
                        map: map,
                        title: poi.name,
                        icon: 'https://upload.wikimedia.org/wikipedia/commons/thumb/archive/d/dd/20170128002300%21University_of_Virginia_Rotunda_logo.svg/118px-University_of_Virginia_Rotunda_logo.svg.png',
                    });
                });
            }
        </script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHO1XcQLlUn6V7sRyRzKDzrzBGl7h97F0&callback=initMap&libraries=maps,marker&v=beta"></script>

        <footer class = 'footer footer-styling'>
            <div class = "text-center">
                <p>
                    Copyright 2023
                </p>
                <p>
                    This is the ouathtesting for the capture app.
                </p>
            </div>
          </footer>
      
    </body>
</html>