{% extends "base.html" %}
{% block html %}

{% load static %}
<link rel="stylesheet" href="{% static 'oauthtesting/profile_style.css' %}">

{% load socialaccount %}
{% providers_media_js %}

<div class="m-3">
<h3 class="">{{ user.username }}</h3>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    {{ form.as_p }}
<button type="submit">Upload</button>
</form>

{% if account %}  <h3>Account created : {{account.username}}</h3>
 <img src="{{ account.picture.url}}" alt="connect" style="max-height:300px">
{% endif %}
</div>

{% endblock %}