@import url('https://fonts.googleapis.com/css?family=Gabarito|Lato');

:root{
    --off-white: #f0efeb;
    --gray: #e5e3e1;
}

body{
    background: var(--off-white);
}
.navbar-text .logo-container {
    display: flex;
    align-items: center;
}

.navbar-text{
    margin-left: 2vh;
    color: var(--off-white);
    text-align: left;
    font-family: "Gabarito";
}

.footer-styling{
    font-family: 'Lato';
    font-size: 1em;

    padding-top: 5vh;
    background-color: var(--gray);
    padding-top: 2%;
    padding-bottom: 9vh;
    border: 0px;
    border-top: .5px;
    border-color: black;
    border-style: solid;
}

.welcome-div{
    padding-top: 5vh;
    text-align: center;
    margin: auto;
}

.account-table-div{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 60vh;
    max-width: 80vh;
    background: var(--off-white);
}

.account-table th, .account-table td {
    border: 1px solid black;
    padding: 1vh;
}

.profile-picture{
    max-width: 100%;
    height: 40vh;
    object-fit: cover;
}

.welcome-text{
    font-family: 'Lato';
    font-size: 1.2em;
    color: rgb(204, 27, 27);
    margin: 0;
    padding: 0;
    text-align: center;
}

.account-table-title{
    font-family: 'Lato';
    font-size: 1.5em;
    text-align: center;
    font-style: bolder;
    padding-top: 10px;
    padding-bottom: 2vh;
}

.account-info-th-text{
    font-family: 'Lato';
    font-size: 1.2em;
    text-align: center;
    font-style: bolder;
}

.account-info-text{
    font-family: 'Lato';
    font-size: 1em;
    text-align: center;
}

.button{
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.logout-button {
    margin: auto;
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Lato';
    font-size: 1.2em;

    cursor: pointer;

    font-size: 1em;
    padding: 1em 1em;
    margin-bottom: 5vh;
    color:#545454;
}

.mappy-logo{
    width: 5vh;
    height: 4vh;
    object-fit: cover;
}

.search-form{
    font-family: 'Gabarito';
}