@import url('https://fonts.googleapis.com/css?family=Gabarito|Lato');

:root{
    --off-white: #f0efeb;
    --gray: #e5e3e1;
}

body{
    background: var(--off-white);
}

.leaderboard-title{
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-family: 'Gabarito';
    font-size: 3em;
    margin: auto;
}

.leaderboard-table-div{
    margin: 0;
    margin: auto;
    text-align: center;
    padding-bottom: 100%;
}

.leaderboard-table{
    background-color: var(--gray);
    margin: auto;
    min-width: 60%;
    max-width: 80%;
}

.leaderboard-table th, .leaderboard-table td {
    border: 1px solid black;
    padding: 1vh;
    text-align: center;
}

.leaderboard-info-th-text{
    font-family: 'Lato';
    font-size: 1.2em;
    text-align: center;
    font-style: bolder;
}

.leaderboard-info-text{
    font-family: 'Lato';
    font-size: 1em;
    text-align: center;
}