@import url('https://fonts.googleapis.com/css?family=Gabarito|Lato');

:root{
    --off-white: #f0efeb;
    --gray: #e5e3e1;
}

body{
    background: var(--off-white);
}

.account-table-div{
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    min-width: 60vh;
    max-width: 80vh;
    background: var(--off-white);
}

.account-table th, .account-table td {
    border: 1px solid black;
    padding: 1vh;
}

.account-table-title{
    font-family: 'Lato';
    font-size: 1.5em;
    text-align: center;
    font-style: bolder;
    padding-top: 10px;
    padding-bottom: 2vh;
}

.account-info-th-text{
    font-family: 'Lato';
    font-size: 1.2em;
    text-align: center;
    font-style: bolder;
}

.error-message{
    text-align: center;
    font-family:'Gabarito';
    font-size: 2em;
    font-weight: bold;
}

.error-img{
    margin: auto;
    width:30vh;
    object-fit: contain;
}