@import url('https://fonts.googleapis.com/css?family=Gabarito|Lato');

:root{
    --off-white: #f0efeb;
    --gray: #e5e3e1;
}

body{
    background: var(--off-white);
}

.map{
    width: 100%;
    min-height: 100%;
    height: auto;
}