.pointshop{
    padding-top: 5vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.account-info{
    padding-top: 5vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.purchase-button {
    margin-top: 10px;
}