@import url('https://fonts.googleapis.com/css?family=Gabarito|Lato');

:root{
    --off-white: #f0efeb;
    --gray: #e5e3e1;
}

/* https://gradientbuttons.colorion.co/ */        
.settings-button {
    background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%);
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    width: 50%;
  }

  .settings-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
 

.info-h3{
    padding-top: 5vh;
    font-family: 'Gabarito';
    font-style: 'bold';
    font-size: 1.5em;
    margin: auto;
}

.info-p{
    padding-top: 1vh;
    font-family: 'Lato';
    font-size: 1.2em;
    margin: auto;
}

.profile-background {
    background: var(--off-white);
    align-items: center;
    margin: auto;
    width: 50%;
    text-align: center;
}

.username {
    padding-top: 5vh;
    font-family: 'Gabarito';
    font-style: 'bold';
    font-size: 1.5em;
    margin: auto;
}