@import url('https://fonts.googleapis.com/css?family=Gabarito|Lato');

:root{
    --off-white: #f0efeb;
    --gray: #e5e3e1;
}

.profile-settings{
    padding-top: 5vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
}

.profile-settings-title{
    padding-top: 5vh;
    font-family: 'Gabarito';
    font-style: 'bold';
    font-size: 2em;
    margin: auto;
    margin-bottom: 5vh;
}

.items-container{
    padding-bottom: 10vh;
    margin-bottom: 10vxh;
}

.category-title{
    font-family: 'Lato';
    font-style: 'bold';
    font-size: 1.5em;
    margin: auto;
    margin-bottom: 1.5vh;
}

.select-button {
    font-family: "Gabarito";
    margin-top: 10px;
}

.select-button.selected {
    background-color: grey;
  }
         
.apply-button {
    font-family: "Gabarito";
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 5vh;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 50vh;
}
.apply-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}