.profile-settings{
    padding-top: 5vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.select-button {
    margin-top: 10px;
}

.select-button.selected {
    background-color: grey;
  }
         
.apply-button {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: auto;
    margin-bottom: 50px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    width: 50%;
  }

  .apply-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 