<!--
This is the base for any page with the navbar and other things.
This'll help keep things DRY
To add this to an html page (replace the [ with {):
============================
[% extends "base.html" %]
[% block html %]

html stuff

[% endblock %]
============================
Anything outside of the block will not work, so keep it all inside
 -->

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<body>
<nav class = "navbar navbar-expand-lg bg-dark">
        <ul class="navbar-nav">
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link navbar-text" href="{% url 'admin:index' %}">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link navbar-text" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link navbar-text" href="{% url 'map' %}">Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-text" href="{% url 'login' %}">Account</a>
            </li>
        </ul>
    </nav>
</body>
{% block html %}{% endblock %}